:root {
  --darkBlue: #474e56;
  --darkHover: #5a6570;
  --lightBlue: #4eadf1;
  --lightGrey: #f0f0f0;
  --medGrey: #e2e9eb;
  --metaGrey: #bbbbbb;
  --yaGreen: #09712c;
}

html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  /* font-family: 'Exo', sans-serif; font-family: 'Montserrat', sans-serif;  */
  font-size: 1rem;
  background: var(--lightGrey);
  color: var(--darkHover);
}

.container {
  width: 100%;
  max-width: 25rem;
  margin: 5rem auto 5rem auto;
  border: 1px Var(--darkHover) solid;
}

/* Top bar styling starts here */
/* ================================= */
.top-bar {
  display: grid;
  grid-template-columns: 50px auto 40px;
  justify-content: space-between;
}
.map-pin i {
  font-size: 42px;
  margin-top: 3px;
}
.logo img {
  max-width: 50px;
  height: auto;
}

main {
  background: #fff;
}

.search-bar {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  height: 2rem;
  border: 1px seagreen solid;
}
.search-btn i {
  width: 20px;
  background: #4eadf1;
  justify-items: flex-end;
}
#searchfield {
  min-width: 16rem;
  max-width: 18rem;
}

.product-category {
  margin: auto;
  padding: 0.5rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-around;
  grid-gap: 0.3rem;
}

.animated-arrow {
  justify-self: center;
}

.card {
  width: 100%;
  height: 300px;
  max-height: 400px;
  margin: auto;
  border: 1px solid;
  text-align: center;
}

footer {
  height: 40px;
  padding: 10px;
  text-align: center;
}
