:root {
  --darkBlue: #474e56;
  --darkHover: #5a6570;
  --lightBlue: #4eadf1;
  --lightGrey: #f0f0f0;
  --medGrey: #e2e9eb;
  --metaGrey: #bbbbbb;
  --yaGreen: #09712c;
}

html {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  /* font-family: 'Exo', sans-serif; font-family: 'Montserrat', sans-serif;  */
  font-size: 1rem;
  background: var(--lightGrey);
  color: var(--darkHover);
}
header {
  background: #09712c;
  padding: 0.2rem 0 0.05rem 0;
}

.maincontainer {
  width: 100%;
  height:100vh;
  border: 1px Var(--yaGreen) solid;
  background-color: #09712c;
}

/* Top bar styling starts here */
/* ================================= */
.top-bar {
  display: grid;
  grid-template-columns: 50px auto 40px;
  justify-content: space-between;
}
.map-pin i {
  font-size: 36px;
  margin-top: 5px;
  color: white;
}
.logo img {
  max-width: 50px;
  height: auto;
}
main {
  background: #fff;
}

.dynamic{
  padding-right: 30px;
  padding-left: 30px;
  background: #09712c;
  border: none;
}
/* ================================= */
/* Styling search Bar */
/* ================================= */

.search-area {
  display: grid;
  grid-template-columns: auto 30px;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  margin: auto;
  margin-bottom: 3.5rem;
  border: 1px #09712c solid;
  border-radius: 0.2rem;
  background: white;
}
input[type="text"] {
  box-sizing: border-box;
  height: 3rem;
  min-width: 17rem;
  width: 89vw;
  padding-left: 0.4rem;
  font-size: 1rem;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
}

.search-btn i {
  font-size: 1.5rem;
  color: #09712c;
}

/* ================================= */
/* Main section, Product Category */
/* ================================= */
.product-category {
  margin: auto;
  padding: 0.5rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-around;
  grid-gap: 1rem;
  color: white;
  background: #09712c;
}
.animated-arrow {
  justify-self: center;
}
.card {
  width: 100%;
  height: 300px;
  max-height: 400px;
  margin: auto;
  border: 1px solid;
  text-align: center;
  background-color: #f0f0f0;
}

/* ================================= */
/* Styling main footer section */
/* ================================= */
footer {
  height: 6.7vh;
  padding: 10px;
  text-align: center;
  background: #09712c;
  color: #fff;
  text-transform: uppercase;
}
